<div class="container my-4" *ngIf="form">
  <h3>Editar Dirección</h3>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Calle</label>
      <input formControlName="calle" class="form-control" />
    </div>
    <div class="mb-3">
      <label class="form-label">Ciudad</label>
      <input formControlName="ciudad" class="form-control" />
    </div>
    <div class="mb-3">
      <label class="form-label">Código Postal</label>
      <input formControlName="codigoPostal" class="form-control" />
    </div>
    <div class="mb-3">
      <label class="form-label">País</label>
      <input formControlName="pais" class="form-control" />
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
      Actualizar
    </button>
  </form>
</div>
