<div class="container my-5">
  <h2 class="mb-4">Panel de Administración</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row g-3">
      <div class="col-md-6">
        <label class="form-label">Marca *</label>
        <input class="form-control" formControlName="marca" />
      </div>
      <div class="col-md-6">
        <label class="form-label">Modelo *</label>
        <input class="form-control" formControlName="modelo" />
      </div>
      <div class="col-md-4">
        <label class="form-label">Matrícula *</label>
        <input class="form-control" formControlName="matricula" />
      </div>
      <div class="col-md-4">
        <label class="form-label">Tipo</label>
        <input class="form-control" formControlName="tipo" />
      </div>
      <div class="col-md-4">
        <label class="form-label">Precio €/mes *</label>
        <input type="number" class="form-control" formControlName="precioMes" />
      </div>
      <div class="col-md-4">
        <label class="form-label">Kilometraje</label>
        <input class="form-control" formControlName="km" />
      </div>
      <div class="col-md-4">
        <label class="form-label">Combustible</label>
        <input class="form-control" formControlName="fuel" />
      </div>
      <div class="col-md-4">
        <label class="form-label">Categoría</label>
        <input class="form-control" formControlName="category" />
      </div>
      <div class="col-md-4">
        <label class="form-label">Transmisión</label>
        <input class="form-control" formControlName="transmission" />
      </div>
      <div class="col-12">
        <label class="form-label">Descripción</label>
        <textarea class="form-control" formControlName="descripcion" rows="3"></textarea>
      </div>
      <div class="col-12">
        <label class="form-label">Imágenes</label>
        <input
        type="file"
        class="form-control"
        (change)="onFilesSelected($event)"
        multiple
        accept="image/*"
        />
    </div>
    </div>
    <div class="mt-4">
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="form.invalid"
      >
        Añadir vehículo
      </button>
    </div>
  </form>
</div>
