.footer {
  background-color: rgba(18, 16, 55, 1);
}

.social-icon {
  color: #fff;
  font-size: 1.4rem;
  transition: transform 0.2s ease;
}
.social-icon:hover {
  transform: scale(1.1);
}

small {
  color: rgba(255, 255, 255, 0.75);
}
