.perfil-card.h-100,
.card.h-100 {
  display: flex;
  flex-direction: column;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-title {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.perfil-card .card-footer > * {
  margin-bottom: 0.5rem;
}
