<div class="container my-4">
  <h3 class="mb-4">Panel de Administración: Vehículos</h3>

  <div *ngIf="loading" class="text-center py-5">
    <div class="spinner-border"></div>
    <p>Cargando vehículos…</p>
  </div>
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
  <a
     routerLink="/admin"
     class="btn btn-outline-secondary w-100"
      style="margin-bottom: 20px;">
      Añadir Vehiculo
  </a>
  <table *ngIf="!loading && !error" class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Precio €/mes</th>
        <th>Combustible</th>
        <th>Transmisión</th>
        <th>Disponible</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let v of vehiculos">
        <td>{{ v.idvehiculo }}</td>
        <td>{{ v.marca }}</td>
        <td>{{ v.modelo }}</td>
        <td>{{ v.precioMes }}</td>
        <td>{{ v.fuel }}</td>
        <td>{{ v.transmission }}</td>
        <td>
          <span 
            class="badge" 
            [ngClass]="v.disponible ? 'bg-success' : 'bg-danger'">
            {{ v.disponible ? 'Sí' : 'No' }}
          </span>
        </td>
        <td class="text-center">
          <button
            class="btn btn-sm btn-danger"
            (click)="onDelete(v.idvehiculo)"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
